<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mượn Thiết Bị</title>
    <!-- Custom styles for this template -->
    <link href="../css/Css_TB/FormMuonThietBi.css" rel="stylesheet"> 
</head>
<body>

<form action="#" method="post">

    <label for="member-id">Mã Thành Viên:</label>
    <input type="text" id="member-id" name="member-id" required>

    <label for="borrower">Tên Thành Viên:</label>
    <input type="text" id="borrower" name="borrower" required>




    <label for="device">Tên Thiết Bị:</label>
    <input type="text" id="device" name="device" required>

    <label for="borrower">Người Mượn:</label>
    <input type="text" id="borrower" name="borrower" required>

    

    <label for="borrow-date">Ngày Mượn:</label>
    <input type="date" id="borrow-date" name="borrow-date" required>

    <label for="return-date">Ngày Trả:</label>
    <input type="date" id="return-date" name="return-date" required>

    <input type="submit" value="Mượn Thiết Bị">
</form>

</body>
</html>
