<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mượn Thiết Bị</title>
    <!-- Custom styles for this template -->
    <link href="../css/Css_TB/FormMuonThietBi.css" rel="stylesheet"> 
</head>
<body>

    <form action="/MuonThietBi/{maTV}" th:object="${thanhVien}" method="post">


        <label >Mã Thành Viên:</label>
        <input type="text" readonly th:value="${thanhVien.MaTV}" class >

        <label >Tên Thành Viên:</label>
        <input type="text" readonly th:value="${thanhVien.Ten}" >

    
        <label for="device-id">Mã Thiết Bị:</label>
        <select id="device-id" name="device-id" required>
            <option th:each="device : ${tbMuon}" th:value="${device.MaTB}" th:text="${device.MaTB}">Mã Thiết Bị</option>
        </select>
        
        
        <label for="device-name">Tên Thiết Bị:</label>
        <select id="device-name" name="device-name" required>
            <option th:each="device : ${tbMuon}" th:value="${device.TenTB}" th:text="${device.TenTB}">Mã Thiết Bị</option>
        </select>
    
        <label for="borrow-date">Ngày Mượn:</label>
        <input type="datetime-local" id="borrow-date" name="borrow-date" required>
        
        <label for="return-date">Ngày Trả:</label>
        <input type="datetime-local" id="return-date" name="return-date" required>
    
        <input type="submit" value="Mượn Thiết Bị">
    </form>
    

</body>
</html>


