<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>THỐNG KÊ</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
    <!-- Custom styles for this page -->
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/tablescumtom.css" rel="stylesheet">
	<style>
		.dropdown {
	        min-width: 15em;
	        position: relative;
	    }
	    
	    .dropdown * {
	        box-sizing: border-box;
	    }
	    
	    .select {
	        background: #207ac0;
	        color: white;
	        display: flex;
	        justify-content: space-between;
	        align-items: center;
	        border: 2px #207ac0 solid;
	        border-radius: 0.5em;
	        padding: 0.5em;
	        cursor: pointer;
	        transition: background 0.3s;
	    }
	
	    .select-clicked {
	        border: 2px #26489a solid;
	        box-shadow: 0 0 0.8em #26489a;
	    }
	
	    .select:hover {
	        background: #17598d;
	    }
	
	    .caret {
	        width: 0;
	        height: 0;
	        border-left: 5px solid transparent;
	        border-right: 5px solid transparent;
	        border-top: 6px solid #fff;
	        transition: 0.3s;
	    }
	
	    .caret-rotate {
	        transform: rotate(180deg);
	    }
	
	    .menu {
	        list-style: none;
	        padding: 0.2em 0.5em;
	        background: #207ac0;
	        border: 1px #207ac0 solid;
	        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
	        border-radius: 0.5em;
	        color: white;
	        position: absolute;
	        top: 3.2em;
	        left: 50%;
	        width: 100%;
	        transform: translateX(-50%);
	        opacity: 0;
	        display: none;
	        transition: 0.2s;
	        z-index: 1;
	    }
	
	    .menu li {
	        padding: 0.7em 0.5em;
	        margin: 0.3em 0;
	        border-radius: 0.5em;
	        cursor: pointer;
	    }
	
	    .menu li:hover {
	        background: #26489a;
	    }
	
	    .activecbx {
	        background: #26489a;
	    }
	
	    .menu-open {
	        display: block;
	        opacity: 1;
	    }
	</style>
</head>

<body id="page-op">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
t            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Quản Lý Thành Viên </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

           <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="ThanhVien.html">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Thành viên</span></a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="ThietBi.html">
                    <i class="fas fa-desktop"></i>
                    <span>Thiết bị </span></a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="XuLyViPham.html">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>Xử lý vi phạm</span></a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="ThongKe.html">
                    <i class="fas fa-chart-bar"></i>
                    <span>Thống kê</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
			<br>
            <!-- Main Content -->
            <div id="content">
					
                <!-- Topbar -->
                
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
					
                	<div class="card shadow mb-4">
						
						
						<div class="card-body">
						<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
							<div class="input-group">
								<div class="dropdown">
					                <div class="select">
					                    <span class="selected" id="khoahaynganh">Theo Khoa</span>
					                    <div class="caret"></div>
					                </div>
					                <ul class="menu">
			                            <li class="activecbx">Theo Khoa</li>
			                            <li>Theo Ngành</li>
					                </ul>
				            	</div>
				            	&nbsp&nbsp&nbsp
	                            <input id="searchInput" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
	                                list="listKhoa" aria-label="Search" aria-describedby="basic-addon2" style="margin-top: 3px;">
	                            <div class="input-group-append">
	                                <button id="searchButton" class="btn btn-primary" type="button">
	                                    <i class="fas fa-search fa-sm"></i>
	                                </button>
	                            </div>
				            	&nbsp&nbsp&nbsp
	                        	<input id="reloadbtn" type="button" value="Dọn" class="btn btn-secondary btn-icon-split" style="padding-left: 1em;padding-right: 1em;">
	                        	<datalist id="listKhoa">
		                            <option th:each="khoa : ${listKhoa}" th:text="${khoa}"></option>
								</datalist>
								<datalist id="listNganh">
		                            <option th:each="nganh : ${listNganh}" th:text="${nganh}"></option>
								</datalist>
							</div><br>
	                        <div class="input-group">
								<div class="dropdown">
					                <div class="select">
					                    <span class="selected" id="thoigianchoice">Thời gian vào</span>
					                    <div class="caret"></div>
					                </div>
					                <ul class="menu" >
			                            <li class="activecbx">Thời gian vào</li>
			                            <li>Được mượn</li>
			                            <li>Đang mượn</li>
			                            <li>Thời gian đặt chổ</li>
					                </ul>
				            	</div>
				            	&nbsp&nbsp&nbsp
	                            &nbsp&nbsp&nbsp<label>Ngày bắt đầu: </label>&nbsp&nbsp&nbsp
	                            <input type="date" id="StartDateChoice" class="form-control bg-light border-0 small"
                                aria-describedby="basic-addon2">
                                &nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp
                                <label>Ngày Kết Thúc: </label>&nbsp&nbsp&nbsp
	                            <input type="date" id="EndDateChoice" class="form-control bg-light border-0 small"
                                aria-describedby="basic-addon2">
                                
                                &nbsp&nbsp&nbsp
                                <input type="button" id="dateBtn" value="Lọc" class="btn btn-warning btn-icon-split" style="padding-left: 1em;padding-right: 1em;">
	                        	&nbsp&nbsp&nbsp
	                        	<input id="reloadTGloc" type="button" value="Dọn" class="btn btn-secondary btn-icon-split" style="padding-left: 1em;padding-right: 1em;">
	                        </div>
	                    </form>
						</div>
                	</div>
                	
                	<div class="card shadow mb-4">
						<div class="card-body">
	                        <div class="table-responsive">
	                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-pagination="false">
	                                <thead>
		                                <tr>
		                                    <th>Mã TT</th>
		                                    <th>Mã Thành Viên</th>
		                                    <th>Khoa</th>
		                                    <th>Ngành</th>
		                                    <th>Mã Thiết bị</th>
		                                    <th>Thời gian vào</th>
		                                    <th>Thời gian mượn</th>
		                                    <th>Thời gian trả</th>
		                                    <th>Thời đặt chổ</th>
		                                </tr>
	                                </thead>
	                                <tbody>
		                                <tr th:each="row, state: ${listTTSD}">
		                                    <td th:utext="${row.MaTT}">...</td>
		                                    <td th:utext="${row.MaTV.MaTV}">...</td>
		                                    <td th:utext="${row.MaTV.Khoa}">...</td>
		                                    <td th:utext="${row.MaTV.Nganh}">...</td>
		                                    <td th:utext="${row.MaTB != null ? row.MaTB.MaTB : ''}">...</td>
		                                    <td th:utext="${row.TGVao}">...</td>
		                                    <td th:utext="${row.TGMuon}">...</td>
		                                    <td th:utext="${row.TGTra}">...</td>
		                                    <td th:utext="${row.TGDatCho}">...</td>
		                                </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
					</div>
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="input-group">
								<div class="dropdown">
					                <div class="select">
					                    <span class="selected" id="choiceXL">All</span>
					                    <div class="caret"></div>
					                </div>
					                <ul class="menu" onclick="handleContentChange_trangthai()">
			                            <li class="activecbx">All</li>
			                            <li>Chưa xử lý</li>
			                            <li>Đã xử lý</li>
					                </ul>
				            	</div>
				            	&nbsp&nbsp&nbsp
				            	<div class="dropdown">
					                <div class="select">
					                    <span class="selected" id="choiceHTXL">All</span>
					                    <div class="caret"></div>
					                </div>
					                <ul class="menu" onclick="handleContentChange_hinhthuc()">
			                            <li class="activecbx">All</li>
			                            <li th:each="htxl : ${hinhThucXl}" th:text="${htxl}"></li>
					                </ul>
				            	</div>
				            	&nbsp&nbsp&nbsp
				            	<span class="selected" style="font-size: 24px; font-weight: bold;">Tổng tiền: </span>
				            	&nbsp&nbsp&nbsp
				            	<span class="selected" id="tongTienPhat" style="font-size: 24px;">0</span>&nbsp
				            	<span class="selected" style="font-size: 24px;">vnđ</span>
				            	&nbsp&nbsp&nbsp
				            	<span class="selected" style="font-size: 24px; font-weight: bold;">Tìm Thấy: </span>
				            	&nbsp
				            	<span class="selected" style="font-size: 24px;" id="hanhnumber">0</span>
				            </div>
						    <br>
							<div class="search-container">
						        <input type="text" id="searchTable2" class="form-control" placeholder="Tìm Kiếm trong bảng Xử lý">
						    </div>
						    <br>
						    
	                        <div class="table-responsive">
	                            <table class="table table-bordered" id="xulyTable" width="100%" cellspacing="0" data-pagination="false">
	                                <thead>
		                                <tr>
		                                    <th>Mã XL</th>
		                                    <th>Mã Thành Viên</th>
		                                    <th>Khoa</th>
		                                    <th>Ngành</th>
		                                    <th>Hình Thức XL</th>
		                                    <th>Số Tiền</th>
		                                    <th>Ngày XL</th>
		                                    <th>Trạng Thái XL</th>
		                                </tr>
	                                </thead>
	                                <tbody>
		                                <tr th:each="row, state: ${listXLVP}">
		                                    <td th:utext="${row.MaXL}">...</td>
		                                    <td th:utext="${row.MaTV.MaTV}">...</td>
		                                    <td th:utext="${row.MaTV.Khoa}">...</td>
		                                    <td th:utext="${row.MaTV.Nganh}">...</td>
		                                    <td th:utext="${row.hinh_thucxl}">...</td>
		                                    <td th:utext="${row.so_tien}">...</td>
		                                    <td th:utext="${row.NgayXL}">...</td>
		                                    <td th:utext="${row.trang_thaixl == 0 ? 'Chưa xử lý' : 'Đã xử lý'}">...</td>
		                                </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
					</div>
                </div>
                
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    

	<!-- Page level plugins -->
	<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>
	
	<!-- Page level custom scripts -->
	
	
	<script src="../js/ThongKe/ThongKe.js"></script>
	<script src="../js/ThongKe/XulyThongKe.js"></script>

</body>

</html>