
<!--editFrom.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Thành viên</title>
</head>
<body>
<h2>Edit Thành viên</h2>
<form action="#" th:action="@{/edit/{maTV}(maTV=${thanhVien.MaTV})}" th:object="${thanhVien}" method="post">
    <input type="hidden" th:field="*{MaTV}" /> <!-- Sử dụng input hidden để truyền MaTV -->
    <p>
        Họ và tên: <input type="text" th:field="*{HoTen}" />
    </p>
    <p>
        Khoa: <input type="text" th:field="*{Khoa}" />
    </p>
    <p>
        Ngành: <input type="text" th:field="*{Nganh}" />
    </p>
    <p>
        Số điện thoại: <input type="text" th:field="*{SDT}" />
    </p>
    <p>
        Mật khẩu: <input type="text" th:field="*{Password}" />
    </p>
    <p>
        Email: <input type="text" th:field="*{Email}" />
    </p>
    <p>
        <button type="submit">Lưu chỉnh sửa</button>
    </p>
</form>
</body>
</html>
